
body{
    background-color: var(--blue-ten);
    height: 100;
    margin: 0;
    --text-color: #ffffff;
    --blue-one: #60abdd;
    --blue-two: #479ad1;
    --blue-three: #3e7192;
    --blue-four: #4d87ae;
    --blue-five: #72a4cf;
    --blue-six: #619acc;
    --blue-seven: #5b9cd5;
    --blue-eight: #529aca;
    --blue-nine: #368ec9;
    --blue-ten: #81d1fe;
    --blue-eleven: #28475c;
    --grey-one: #d0d0d0;
    --grey-two: #ccc;
}
.dark{
    --text-color: #ffffff;
    --blue-one: #4a2d9f;
    --blue-two: #ddd2ec;
    --blue-three: #977dc6;
    --blue-four: #977dc6;
    --blue-five: #72a4cf;
    --blue-six: #619acc;
    --blue-seven: #5b9cd5;
    --blue-eight: #529aca;
    --blue-nine: #368ec9;
    --blue-ten: #1a1a1d;
    --blue-eleven: #454545;
    --grey-one: #d0d0d0;
    --grey-two: #ccc;
}
.dark_button{
    float: right;
    display: block;
    margin-right: 1rem;
    margin-top: 0.5rem;
    padding: 0.75rem 2rem;
    background-color: var(--blue-one);
    font-family: Montserrat;
    font-weight: 700;
    font-size: 120%;
    color: var(--text-color);
    border-radius: 0.5rem;
    outline: none;
    border: none;
    cursor: pointer;
    -webkit-transition: background-color 200ms ease in;
    transition: background-color 200ms ease in;
}

.dark_button:hover {
  background-color: var(--blue-four);
}
/* Title of page */
h1{
    text-align: center;
    text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.25);
    margin-top: 70px;
    width: 100%;
    height: 100px;
    letter-spacing: +0.04em;
    font-size: 70px;
    font-family: Fredoka One;  
    color: var(--text-color);
}

h2{
    text-align: center;
    text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.25);
    margin-top: 40px;
    width: 100%;
    height: 100px;
    letter-spacing: +0.04em;
    font-size: 40px;
    font-family: Fredoka One;  
    color: var(--text-color);;
}

div.vertical_flex{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    margin-left: 22%;
    min-width: 800px;
    margin-bottom: 7rem;
}

div.vertical_flex2{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    margin-bottom: 7rem;
    margin-left: 17%;
}

/* Buttons */
.buttonlogout {
    float: right;
    display: block;
    margin-right: 1rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    width: 75px;
    padding: 0.75rem 2rem;
    background-color: var(--text-color);;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 120%;
    color: var(--blue-one);
    border-radius: 0.5rem;
    outline: none;
    border: none;
    cursor: pointer;
    -webkit-transition: background-color 200ms ease in;
    transition: background-color 200ms ease in;
}

.buttonlogout:hover {
    background-color: var(--grey-one);
    text-decoration: none;
}

.buttonlogout:link {
    text-decoration: none;
}

.buttonlogout:visited {
    text-decoration: none;
}

.buttonback {
    display: block;
    float: right;
    margin-right: 1rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    width: 80px;
    padding: 0.75rem 2rem;
    background-color: var(--blue-one);
    font-family: Montserrat;
    font-weight: 700;
    font-size: 120%;
    color: var(--text-color);;
    border-radius: 0.5rem;
    outline: none;
    border: none;
    cursor: pointer;
    -webkit-transition: background-color 200ms ease in;
    transition: background-color 200ms ease in;
}

.buttonback:hover {
    background-color: var(--blue-four);
    text-decoration: none;
}

.buttonback:link {
    text-decoration: none;
}

.buttonback:visited {
    text-decoration: none;
}


.button{
	width: 28.4vw;
	height: 13vh;
	margin: 1vw;
	
	font-family: Montserrat;
    font-weight: 700;
    font-size: 150%;
	text-align: center;
	
	color: var(--text-color);;
	background-color: var(--blue-one);
	
	border: none;
	border-radius: 0.5rem;

    display: inline-flex;
    align-items: center;
    align-content: stretch;
    justify-content: space-evenly;

    outline: none;
    border: none;
    cursor: pointer;
    -webkit-transition: background-color 200ms ease in;
    transition: background-color 200ms ease in;
}

.button:hover {
    background-color: var(--blue-four);
    text-decoration: none;
}

.button:link {
    text-decoration: none;
}

.button:visited {
    text-decoration: none;
}

.buttonlink {
    margin-left: 1rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    padding: 1rem 3rem;
    background-color: var(--text-color);;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 100%;
    color: var(--blue-one);
    border-radius: 0.5rem;
    outline: none;
    border: none;
    cursor: pointer;
    -webkit-transition: background-color 200ms ease in;
    transition: background-color 200ms ease in;
}

.buttonlink:hover {
    background-color: var(--grey-one);
    text-decoration: none;
}

.buttonlink:link {
    text-decoration: none;
}

.buttonlink:visited {
    text-decoration: none;
}


/* Image */
img.corner_duck{
	position: absolute;
	width: 23.6vw;
	height: 44.7vh;
	left: -5.8vw;
	top: -16.3vh;
	object-fit: contain;
}

/* Side scroll bar */
::-webkit-scrollbar {
    height: 15px;
    width: 15px;
}
  
::-webkit-scrollbar-track {
    background: var(--blue-ten);
}
  
::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: var(--blue-four);
}
  
::-webkit-scrollbar-thumb:hover {
    border-radius: 20px;
    background: var(--blue-eleven);
}
