<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='Completion.css') }}">
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
        <link href="https://fonts.googleapis.com/css2?family=Fredoka+One" rel="stylesheet">
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon_duck.png') }}" sizes ="32x32"/>
    </head>
<body>
    <button id="toggle" class="dark_button" onclick="setDarkMode()">Theme</button>
    <script src="{{url_for('static', filename='Dark_Mode.js')}}"></script>
    <img class="corner_duck" src="{{url_for('static', filename='corner_duck.png')}}" onclick="home()">

    <div class="vertical_flex2">

		<h1> This survey <br> no longer exists. </h1>
        
        <br><br><br><br><br><br><br>
        {% if authenticated %}
		    <a button class = "button" href = "{{ url_for('user_homepage') }}">Back to user homepage</button></a>
        {% else %}
            <a button class = "button" href = "{{ url_for('home') }}">Back to homepage</button></a>
        {% endif %}

	</div>

    <script>
        function home(){
            location.href = '/'
        }
    </script>
</body>

</html>