<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='Login_Signup_Style.css') }}">
      <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
      <link href="https://fonts.googleapis.com/css2?family=Fredoka+One" rel="stylesheet">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>
      <script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/md5.js"></script>
      <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon_duck.png') }}" sizes ="32x32"/>
  </head>
    <body>

        <form action = "{{ url_for('login') }}" class = "form" method="post">

          {{ form.csrf_token }} <!--For security-->
          
          <h1 class = "form__title">Ready to Log in?</h1>
          <p class = "form__description">You're almost there!</p>

          <br><br>

          <div class = "Invalid_Login">      
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %} 
                    {% for category, message in messages %} 
                        <div class = "alert alert-{{ category }}">
                            <h4>{{ message }}</h4>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %} 
          </div> 

          <br>
          
          <!--Creating the "Back to homepage" button for Logging in-->
          <a button class = "form__buttonback" href = "{{ url_for('home') }}">Back to homepage</button></a>

          
          <!--Creating the "Email" box for Logging in-->
          <div class = "form__group">
            <input type = "text" id = "email" class = "form__input" name = "email" placeholder = " " autocomplete = "off">
            <label for = "email" class = "form__label">Email</label>
          </div>


          <!--Creating the "Password" box for Logging in-->
          <div class = "form__group">
            <input type = "password" id = "password" class = "form__input" name = "password" placeholder = " ">
            <label for = "password" class = "form__label">Password</label>
          </div>

          
          <!--Creating the "Confirm password" box for Signing up-->
          <button type="hidden" id="hide" class = "form__button" onclick="return encrypt()" >Sign in</button>

        </form>
        <!--Back to Sign up page link at bottom-->
        <p class="bottom__text"> &nbsp; &nbsp;Don't have an account?&nbsp; <a class="bottom__link" href="{{url_for('signup')}}">Create one here!</a></p>
    
    </body>
    <script>
      function encrypt()
      {
      var pass=document.getElementById('password').value;
      var hide=document.getElementById('hide').value;

      document.getElementById("hide").value = document.getElementById("password").value;
      var hash = CryptoJS.MD5(pass);
      document.getElementById('password').value=hash;
      return true;
      
      }
      </script>
</html>