<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='Survey_Answering.css') }}">
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
        <link href="https://fonts.googleapis.com/css2?family=Fredoka+One" rel="stylesheet">
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon_duck.png') }}" sizes ="32x32"/>
    </head>
<body>

    <img class="corner_duck" src="{{url_for('static', filename='corner_duck.png')}}">

    <a button class = "buttonhome" href = "{{ url_for('home') }}" >Homepage</button></a>

    <div class="vertical_flex">
        <br>

        <h1> {{title}} </h1>

        <h2> {{description}} </h2>

        <div id = 'q_and_a'></div>

        <!-- <a button class="button-cancel" href = "{{ url_for('user_homepage') }}" >Cancel</button></a> -->

        <a button class="button-submit" onclick="Submit()">Submit</button></a>

        <script>
            var data = JSON.parse('{{ data | tojson | safe}}')
            var subject = document.querySelector('#q_and_a');
            
            let keys = []
            let all_questions = []
            let names = []
            let types = []
            let wr_id = []
            Object.values(data).forEach(val => keys.push(val))
            for(let i = 0; i < keys.length; i++){
                let q = 'question_' + (i+1).toString()
                // console.log(keys[i][q])
                let ques = keys[i][q][0]
                names.push(ques)
                subject.insertAdjacentHTML("beforeend", ('<h3>' + ques + '</h3>'))//question
                if(keys[i][q].includes('Multiple Choice')){
                    let all_options = ['Multiple Choice']
                    types.push('MC')
                    for(let v = 0; v < keys[i][q][2].length; v++){
                        let option = keys[i][q][2][v]
                        subject.insertAdjacentHTML("beforeend", ('<input type="radio" id = "'+ option +'" name = "'+ ques +'" value ="'+ option +'">'))//have to add id
                        subject.insertAdjacentHTML("beforeend", "<label for='"+option+"'>" + option + "</label><br>")
                        all_options.push(option)                    
                    }
                    all_questions.push(all_options)
                }
                else{//for wr
                    all_questions.push(['Short Response'])
                    types.push('WR')
                    // wr_id.push(ques)
                    let id = ques + "'></form><br>"
                    subject.insertAdjacentHTML("beforeend", ("<br><form><input type='text' id = '" + id))
                }
            }
            // console.log(names)
            function Submit(){
                let success = true
                let all_answers = []
                // alert(names)
                for(let i = 0; i < names.length; i++){
                    if(types[i] == 'MC'){
                        let answer = document.querySelector('input[name="' + names[i] + '"]:checked')
                        if(answer == null){
                            alert('You need to answer all multiple choice questions')
                            success = false
                        }
                        else{
                            all_answers.push(answer.value)
                        }
                    }
                    else{
                        let answer = document.getElementById(names[i]).value
                        all_answers.push(answer)
                        if(answer == ''){
                            alert('You need to answer all short response questions')
                            success = false
                        }
                    }
                }

                console.log(all_answers)
                console.log(all_questions)
                // alert(all_answers)
                
                let response = []
                for(let i = 0; i < all_questions.length; i++){
                    if (all_questions[i].includes('Multiple Choice')){
                        response.push(['Multiple Choice', all_questions[i].indexOf(all_answers[i])])
                    }
                    else{
                        response.push(['Short Response', all_answers[i]])
                    }
                }
                alert(response)
                var path_name = window.location.pathname
                var unique_string = path_name.substring(path_name.length - 5)


                if(success == true){
                    const survey_data = {
                            'response': response,
                            'unique_string': unique_string
                    }

                    var xhr = new XMLHttpRequest();
                    var url = "/submitResponse";
                    xhr.open("POST", url, true);
                    xhr.setRequestHeader("Content-Type", "application/json");
                    xhr.onreadystatechange = function () {
                    if (xhr.readyState === 4 && xhr.status === 200) {
                        var json = JSON.parse(xhr.responseText);
                        // console.log(json.email + ", " + json.password);
                    }
                };
                    var data = JSON.stringify(survey_data);
                    xhr.send(data);
                    location.href = "/submission_success" 
                }    
            }
        </script>



	</div>

</body>

</html>