<!DOCTYPE html>
<html>
<!-- this page is the first one the user sees after loging in -->

<head>
	<title>User Dashboard</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="../static/dashboard.css">
</head>

<body>
	<img src="../static/corner duck.png">
	<a herf="home.html"><button class="buttonlogin">log out</button></a>
	<h1>Welcome!</h1>
	<ul>
		<li><a href="User Surveys.html"><button>View your surveys</button></a></li>
		<li><a href="Create Survey.html"><button>Create a survey</button></a></li>
		<li><a href="Browse Surveys.html"><button>Browse surveys</button></a></li>
	</ul>
</body>
</html>