<!DOCTYPE html>
<html>
<head>
	<title>User Dashboard</title>
	<meta charset="UTF-8">
	<meta name="description" content="This page is the first one the user sees after loging in.">
	<link rel="stylesheet" type="text/css" href="../static/style.css">
	<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One" rel="stylesheet">
</head>

<body>
	<img class="corner_duck" src="../static/corner duck.png">
	<a herf="home.html"><button>Log Out</button></a>
	<h1>Welcome!</h1>
	<a href="User Surveys.html"><button>View your surveys</button></a>
	<a href="Create Survey.html"><button>Create a survey</button></a>
	<a href="Browse Surveys.html"><button>Browse surveys</button></a>
</body>
</html>