<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='Style.css') }}">
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
        <link href="https://fonts.googleapis.com/css2?family=Fredoka+One" rel="stylesheet">
    </head>
<body>

    <img class="corner_duck" src="{{url_for('static', filename='corner_duck.png')}}">

    <a button class = "buttonlogout" href = "{{ url_for('home') }}" >Log out</button></a>

	<div class="vertical_flex">

		<h1> Welcome! </h1>

        <div class = "Successful_Login">      
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %} 
                    {% for category, message in messages %} 
                        <div class = "alert alert-{{ category }}">
                            <h4>{{ message }}</h4>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %} 
        </div>

		<a button class = "button" href = "{{ url_for('view_surveys') }}">View your surveys</button></a>

		<a button class = "button" href = "{{ url_for('survey_editor') }}">Create a survey</button></a>

		<a button class = "button" href = "{{ url_for('user_homepage') }}">Browse surveys</button></a>

	</div>
    
</body>

</html>