<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='Style.css') }}">
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
        <link href="https://fonts.googleapis.com/css2?family=Fredoka+One" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap" rel="stylesheet">
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon_duck.png') }}" sizes ="32x32"/>
        <link href="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
    </head>
<body>

    <img class="corner_duck" src="{{url_for('static', filename='corner_duck.png')}}">

    <a button class = "buttonlogout" href = "{{ url_for('logout') }}" >Log out</button></a>

    <a button class = "buttonback" href = "{{ url_for('user_homepage') }}" >Go back</button></a>

    <div class="vertical_flex2">

        <h1>Here are <br> your surveys!</h1>

        <br><br><br><br><br><br><br><br><br>

        <a button class = "button" href = "{{ url_for('survey_editor') }}">Create a survey</button></a>

        <br><br><br><br><br><br><br>

        {% if titles %}
            <h3>Click on a survey title to view the responses!</h3>
        {% else %}
            <h3>You have no surveys yet. To create one, click the button above!</h3>
        {% endif %}


        {% set count = {'value': 0} %}

        <div class = "vertical_flex4">
            {% if URLlist %}
            {% for surveytitle in titles %}
                    <h9>
                        <a class = "u" href="{{ url_for('survey_responses', surveys_id=loop.index) }}">{{surveytitle}}</a>

                        <button onclick = "getLink('{{URLlist[count.value]}}')" button class = "buttonlink">Copy link</button>

                        <a button class = "buttonedit" href = "{{ url_for('survey_editor') }}" >Edit</button></a>

                        {% if count.update({'value': (count.value + 1)}) %} {% endif %}
                        <button onclick = "deleteWarning('{{ count.value }}')" button class = "buttondelete">Delete</button>

                        <select name="status" id=changeStatus{{ count.value }} class="custom-select" name="status" onChange="updateStatus(this.options[this.selectedIndex].value,'{{ count.value }}')">
                            <option value="open">Open</option>
                            <option value="close">Close</option>
                        </select>
                        <div id=status{{ count.value }}></div>
                    </h9>
            <br><br><br>
            {% endfor %}
            {% endif %}
        </div>

    </div>

     <script>
        function  updateStatus(value,id){
            if(value=="public"){
                open(id);
            }
            else if(value=="open"){
                open(id);
            }
            else if(value=="close"){
                close(id);
            }
        }

    </script>

    <script>
        function getLink(URLlist) {

            var text = URLlist

            var input = document.createElement('textArea');
            input.innerHTML = text;
            document.body.appendChild(input);
            input.select();
            var result = document.execCommand('copy');
            document.body.removeChild(input);

            // Avoid scrolling to bottom after copying
            // textArea.style.top = "0";
            // textArea.style.left = "0";
            // textArea.style.position = "fixed";

            alert("URL Copied.");
            return result;
        }
    </script>

    <script>
        function deleteWarning(id) {

            var surveys_id;
            surveys_id = id;

            var del;

            if (confirm("Are you sure you want to delete this survey? This can NOT be undone!") == true) {
                del = "OK";
                alert("Survey will be deleted. Please refresh the page.");

            } else {
                del = "Cancel";
                alert("Deletion cancelled.");

            }

            var xhr = new XMLHttpRequest();
            var url = "/delete"; // Should not be hardcoded
            xhr.open("POST", url, true);
            xhr.setRequestHeader("Content-Type", "application/json");
            var del = JSON.stringify(del + " " + surveys_id);
            xhr.send(del);

            }
    </script>

    <script>
        function open(id) {
            var surveys_id;
            surveys_id = id;
            var xhr = new XMLHttpRequest();
            var url = "/survey/open/"+surveys_id; // Should not be hardcoded
            xhr.open("PUT", url);
            //xhr.setRequestHeader("Content-Type", "application/json");
            //var del = JSON.stringify(del + " " + surveys_id);
            xhr.send();
        }
    </script>

    <script>
        function close(id) {
            var surveys_id;
            surveys_id = id;
            var xhr = new XMLHttpRequest();
            var url = "/survey/private/"+surveys_id; // Should not be hardcoded?
            xhr.open("PUT", url);
            //xhr.setRequestHeader("Content-Type", "application/json");
            //var del = JSON.stringify(del + " " + surveys_id);
            xhr.send();
        }
    </script>

    </body>

</html>